.section-2 {
  /* background: rgb(221, 208, 208); */
  /* background-color: rgb(30,41,69); */
  background-color: rgb(0, 40, 80, 0.4);
  font-family: "Jura";
  margin: 0px;
  padding-bottom: 70px;
  margin-bottom: 0px;
  justify-content: center;
}

.section2-container {
  margin: 0px;
  padding: 0px;
}

.section-2 p {
  margin: 0px;
  color: #faf6f6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-2 .section-container p {
  padding-top: 50px;
}

.trustee-buttons {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.trustee-vendors {
  gap: 40px;
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trustee-vendors img {
  width: 140px;
  height: 140px;
}

.trustee-vendors img:hover {
  transition: linear 0.5s;
  transform: scale(1) translateX(0.1875rem);
  filter: saturate(3);
}

.trustee {
  width: 100%;
  height: 120px;
  /* background: white; */
  background: rgb(255, 255, 255, 0.4);
  border-bottom-color: rgb(167, 167, 167);
  border-color: rgb(167, 167, 167);
  border-width: thin;
  border-style: solid;
  border-right-width: 0px;
}

.trustee:hover {
  background-color: white;
}

.btn-border {
  border-right-width: thin;
  border-right-color: rgb(167, 167, 167);
}

.trustee img {
  width: 60px;
  height: 60px;
}

/* .trustee img:hover {
  width: 300px;
  height: 300px;
  content: url(asstes/panel-desktop.webp);
  transition: ease 0.5s;
  filter: saturate(0.5);
} */

.trustee-buttons .trustee:hover {
  transition: linear 0.5s;
  /* transform: scale(1.2) translateX(0.1875rem); */
  filter: grayscale(5);
}

.highlight-box img {
  width: 30px;
  height: 30px;
}

.highlight-section {
  margin-left: 20px;
  margin-right: 20px;
  gap: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.highlight-box {
  /* margin-top: 250px; */
  text-align: left;
  padding: 20px;
  width: 350px;
  height: 200px;
  background: rgb(255, 255, 255, 0.4);
  /* background: white; */
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-color: rgb(148, 145, 145);
  border-width: thin;
  border-style: solid;
  border-right-width: 0px;
  border-radius: 15px;
}

.highlight-box:hover {
  background-color: white;
}

.highlight-box p {
  margin: 0;
  color: #575050;
}

@media (max-width: 759px) {
  .section-2 .section-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  .section-container p {
    font-size: 10px;
  }
  .section-container .trustee-buttons {
    width: 100%;
    height: 100px;
    gap: 2px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-container .trustee-buttons .trustee {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 120px;
  }

  .section-container .trustee-buttons .trustee:hover {
    background-color: white;
  }

  .section-container .trustee-buttons .trustee img {
    width: 30%;
    height: 30%;
  }

  .section-2 .trustee-vendors {
    display: none;
  }

  .highlight-section {
    gap: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .highlight-section p {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .highlight-box {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .highlight-box:hover {
    background-color: white;
  }

  .review-section {
    display: none;
  }
}

@media (max-width: 375px) {
  .section-2 .section-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  .section-container p {
    font-size: 8px;
  }
  .section-container .trustee-buttons {
    width: 100%;
    height: 100px;
    gap: 2px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-container .trustee-buttons .trustee {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 120px;
  }

  .section-container .trustee-buttons .trustee:hover {
    background-color: white;
  }

  .section-container .trustee-buttons .trustee img {
    width: 30%;
    height: 30%;
  }

  .section-2 .trustee-vendors {
    display: none;
  }

  .highlight-section {
    gap: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .highlight-section p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .highlight-box {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .highlight-box:hover {
    background-color: white;
  }

  .review-section {
    display: none;
  }
}
