body {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

.section-1 {
  height: auto;
}

.section-info {
  /* background-color: rgb(207, 3, 129); */
  background-color: white;
  padding-top: 100px;
}

.section-info img {
  width: 80%;
  margin-bottom: 100px;
}

.section-info img:hover {
  transition: linear 0.5s;
  transform: scale(1.2) translateX(0.1875rem);
  filter: grayscale(5);
}

.section-info h1 {
  margin-top: 110px;
  font-size: 100px;
  /* font-family: 'DotGothic16'; */
  font-family: "Jura";
}

.section-info p {
  font-size: 25px;
  font-family: "Jura";
}

.get-button {
  border: solid #ccc 1px;
  color: black;
  background: white;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 60px;
}

.get-demo-button {
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 140px;
  color: rgb(182, 178, 178);
  background-color: black;
}

.get-demo-button:hover {
  color: black;
  background: white;
  border: solid #ccc 1px;
}

.get-button:hover {
  color: rgb(182, 178, 178);
  background-color: black;
}

@media (max-width: 759px) {
  body {
    overflow-x: hidden;
  }
  /* section 1 */
  .section-info h1 {
    font-size: 40px;
  }

  .section-info p {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  body {
    overflow-x: hidden;
  }

  .section-info h1 {
    font-size: 30px;
  }

  .section-info p {
    font-size: 15px;
  }
}
